.home-title h6{
    text-align: center;
}
.submit-form{
    width: 10%;
    margin: auto;
}

.home-title{
    min-height: 90vh !important;
    background-image: none !important;
    padding-top: 50px;
}
.select2-choice{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.submit-form{
    margin-top: 20px !important;
}

.mobile span p{
    color:red;
    margin-left: 11px;
}
#s2id_autogen3{
    margin-left: 15px;
    width: 98%;
}
.companion{
    display:none;
}
.companion select{
    margin-left: 5px;
}
.has_companion{
    line-height:1.3
}
a:hover, a:focus, a, .form-control, .has_companion{
    color: #1abc9c;
}
.select2-arrow{
    border-width: 6px 3px !important;
    right: -6px !important;
    border-color: #1abc9c transparent !important;
}
.signup-form .home-title .signup-form form input[type="text"], .home-title .signup-form form input[type="password"]{
    /* border-color: #bdc3c7 !important; */
}

