<div class="row">
    <div class="col-sm-4">
        <div class="services">
            <div class="service-item">
                <i class="fa fa-gear"></i>
                <div class="service-desc">
                    <h5>Centralize your HR data</h5>
                    <p>Access your global employee data instantly and retrieve it without any hassle. Governed by strong security practices, your data is also highly secure.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="services">
            <div class="service-item">
                <i class="fa fa-clock-o"></i>
                <div class="service-desc">
                    <h5>Track time wisely</h5>
                    <p>Track employees' leave and time at work with ease, and make your tool the single source for all employee attendance details.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="services">
            <div class="service-item">
                <i class="fa fa-refresh"></i>
                <div class="service-desc">
                    <h5>Automate to go paperless</h5>
                    <p>Create simple workflows to carry out your daily HR tasks like email alerts, multi-level approvals and checklists.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="services">
            <div class="service-item">
                <i class="fa fa-user-circle-o"></i>
                <div class="service-desc">
                    <h5>Simplify employee performance reviews</h5>
                    <p>Identify the skills of your employees and the places they can improve. Set goals, gather 360-degree feedback, and review performance; bridge the gap between where employees are and where they need to be.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="services">
            <div class="service-item">
                <i class="fa fa-phone"></i>
                <div class="service-desc">
                    <h5>24/7 support</h5>
                    <p>Get our support any time from anywhere.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="services">
            <div class="service-item">
                <i class="fa fa-mobile"></i>
                <div class="service-desc">
                    <h5>Go mobile and reach out from anywhere</h5>
                    <p>Mark your attendance, connect with your colleagues, and view other employee details in just a few clicks.</p>
                </div>
            </div>
        </div>
    </div>
</div>
