<div class="control-list">
    <table class="table data">
        <thead>
            <tr>
                <th class="sort-desc"><a href="/">Title</a></th>
                <th class="active sort-asc"><a href="/">Created</a></th>
                <th><span>Categories</span></th>
                <th><span>Updated</span></th>
                <th class="list-setup"><a href="/" title="List options"></a></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><?=$title ?></td>
                <td><?=$Created ?></td>
                <td><?=$Categories ?></td>
                <td><?=$Updated ?></td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>