<style>
.rtable {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  border-collapse: collapse;
  border-spacing: 0;
}

.rtable td:first-child,
.rtable--flip tbody tr:first-child {
  background-image: -webkit-linear-gradient(left, white 50%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 20px 100%;
}

.rtable td:last-child,
.rtable--flip tbody tr:last-child {
  background-image: -webkit-linear-gradient(right, white 50%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 20px 100%;
}

.rtable th {
  font-size: 11px;
  text-align: left;
  text-transform: uppercase;
  background: #f2f0e6;
}

.rtable th,
.rtable td {
  padding: 6px 12px;
  border: 1px solid #d9d7ce;
}

.rtable--flip {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background: none;
}

.rtable--flip thead {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
}

.rtable--flip tbody {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}

.rtable--flip tr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.rtable--flip td,
.rtable--flip th {
  display: block;
}

.rtable--flip td {
  background-image: none !important;
  border-left: 0;
}

.rtable--flip th:not(:last-child),
.rtable--flip td:not(:last-child) {
  border-bottom: 0;
}
</style>

<div class="">
	<div class="row">
        <div style="margin-left: 15px;margin-bottom: 40px">
          <h4>Miscellaneous expense report from <?php echo $from_date ?> To <?php echo $end_date ?></h4>
        </div>
        <div class="col-md-12">
            <table class="table table-hove  rtable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Date</td>
                </tr>
            </thead>
            <tbody>
                <?php 
                $sl = 1;
                foreach($totalList as $value): ?>
                <tr>
                    <td><?php echo $sl; ?></td>
                    <td><?php echo $value['project_name']; ?></td>
                    <td style="text-align:right"><?php echo number_format($value['amount'],2); ?> /=</td>
                    <td><?php echo $value['date']; ?></td>
                </tr>
                <?php $sl++; 
                endforeach; ?>
                <tr>
                    <td colspan="2" style="text-align:right">Total</td>
                    <td style="text-align:right"><?php echo number_format($total,2); ?> /=</td>
                    <td></td>
                </tr>
            </tbody>
            </table>
        </div>
        
        <!-- <div class="col-md-6" style="clear:both">
            <p><Strong>Total Difference: </Strong><?php //echo $totalDifference ?> Tk</p>
        </div>     -->
	</div>
</div>

