<div class="form-group text-field span-left">
    <label></label>
    <input type="text" name="datefilter" class="form-control date_range" value="" placeholder="Date Range" required readonly/>
</div>

<div class="form-group text-field span-left">
    <button class="btn btn-primary submit" type="submit" style="margin-top: 21px;">Search</button>
</div>
<div class="loading-indicator-container loading-show" style="clear:both;display:none">
        <div class="loading-indicator">
            <span></span>
            <div>Loading...</div>
        </div>
</div>
<!-- <hr> -->
<div id="myId" style="clear:both">
    
</div>
