<span>
    <label class="custom-switch">
        <input class="swtich" value="<?php echo $record->id ?>" type="checkbox" <?php echo ($record->status == 1) ? 'checked' : ''; ?>/>
        <span >
            <span>On</span>
            <span>Off</span>
        </span>
        <a class="slide-button swtich-nothing"></a>
    </label>
</span>
