<div class="signup-form">
    <form
        data-request="onAdminRegistration"
        data-request-flash 
        data-request-error="
            for (let key of Object.keys( jqXHR.responseJSON.X_OCTOBER_ERROR_FIELDS)) {  
                var input = document.getElementsByName(key);
                $(input).parent().addClass('has-error');
                //console.log(key);
            }
        "
    >
        <div class="form-group">
            <div class="col-md-6">
                <select class="form-control" name='company' placeholder="">
                    <option value="">Select Company</option>
                    <option value="Bangladesh Export Import Co. Ltd.- IT Division (SAM Tower)">Bangladesh Export Import Co. Ltd.- IT Division (SAM Tower)</option>
                    <option value="Beximco Holdings Ltd. (SAM Tower)">Beximco Holdings Ltd. (SAM Tower)</option>
                    <option value="Gulshan HO and Basati () GVTL (SAM Tower)">Gulshan HO and Basati () GVTL (SAM Tower)</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Full Name" name="full_name" autocomplete="off" >
            </div>
            <div class="col-md-6">
                <input class="form-control" type="text" placeholder="Mobile" name="mobile" autocomplete="off" >
                <span ><p style="color:red">Ex: 017XXXXXXXXX</p></span>
            </div>
        </div>
        <!-- <div class="form-group mobile">
            <input class="form-control" type="text" placeholder="Mobile" name="mobile" autocomplete="off" >
            <span><p>Ex: 017XXXXXXXXX</p></span>
        </div> -->
        <div class="form-group">
            <textarea class="form-control" placeholder="Visitor Address" name="organization" autocomplete="off"></textarea>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <select class="form-control purpose" name='purpose' placeholder="">
                    <option value="">Select Purpose</option>
                    <option value="Meeting">Meeting</option>
                    <option value="Personal Visit">Personal Visit</option>
                    <option value="Courier Service">Courier Service</option>
                    <option value="Bill Collection">Bill Collection</option> 
                    <option value="Invoice Submit">Invoice Submit</option> 
                    <option value="Interview">Interview</option>
                    <option value="Product Delivery">Product Delivery</option>
                    <option value="Others">Others</option>
                </select>
            </div>
        </div>
        <div class="form-group others" style="display:none">
            <textarea class="form-control other-textarea" mtype="text" placeholder="Please write you specific purpose" name="other_purpose" autocomplete="off"></textarea>
        </div>
        <div class="form-group employees-form">
            <div class="col-md-6">
                <select class="form-control employees" name='department' placeholder="Contact Person">
                    {%  for key, department in departments %}
                        <option value="{{ key }}">{{department}}</option>
                    {% endfor %}
                </select>
            </div>    
            <div class="col-md-6">
                <select class="form-control employees" name='select_employee' placeholder="Contact Person">
                    {%  for key, employee in employees %}
                        <option value="{{ key }}">{{employee}}</option>
                    {% endfor %}
                </select>
            </div>    
        </div>

        <div class="" style="margin-bottom: 10px; height: 40px;">
            <div class="col-md-2">
                <label class="checkbox-inline has_companion"><input type="checkbox" value="" id="has_companion" name="has_companion">Has Companion</label>
            </div>
            <div class="col-md-4 companion" style="display:none">
                <select class="form-control" name='visitor_count'>
                    <option value="" >Select Number of Companion</option>
                    {% for i in 1..20 %}
                    <option value = {{ i }} >{{i}}</option>
                    {% endfor %}
                </select>
                <!-- <input class="form-control" style="margin-left:6px" mtype="text" placeholder="Number of companion" name="visitor_count" autocomplete="off"> -->
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input class="form-control" type="text" placeholder="Vistior Card Number" name="visitor_number" autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-info submit-form">Submit</button>
        </div>
    </form>
</div>