
<div class="row show-details">
    <div class="col-md-12" style="text-align: center">
        <h1>Welcome to Beximco IT</h1>
        <div class="details" style="display: none">
            <div class="scoreboard m-t-lg m-t-md">
                <div data-control="toolbar">
                    <div class="scoreboard-item title-value">
                        <h4>Hello, Good Day!</h4>
                        <h5></h5>
                    </div>
                </div>
            </div>

            <div class="scoreboard m-t">
                <div data-control="toolbar col-md-6">
                    <table class="table table-bordered dashboar-table" style="width: 50%;margin: auto;">
                        <tbody class="tbody-class">
                           <!-- ajax call here -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>    
    </div>
    <div class="col-md-3"></div>
</div>