title = "Employee Portal Demo Account"
url = "/demo"
layout = "default"


==

<section class="home-title">
    <div class="container text-center">
        <h6>Plesae copy the following Email & Password to login Demo Account.</h6>
        <br />
        <div class="row">
            
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <form>
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                        <input type="text" class="form-control" id="email" value="demo@portal.com">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-3 col-form-label">Password</label>
                        <div class="col-sm-9">
                        <input type="text" class="form-control" id="password" value="demo123456">
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                        <a target="blank" href="{{ url('portal') }}" class="btn btn-primary">GO TO DEMO ACCOUNT</a>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</section>

<section class="logos">
    <div class="container">
        <div><img src="{{ 'assets/images/logos/mashable.png'|theme }}" alt=""></div>
        <div><img src="{{ 'assets/images/logos/guardian.png'|theme }}" alt=""></div>
        <div><img src="{{ 'assets/images/logos/forbes.png'|theme }}" alt=""></div>
        <div><img src="{{ 'assets/images/logos/red-bull.png'|theme }}" alt=""></div>
        <div><img src="{{ 'assets/images/logos/ny-times.png'|theme }}" alt=""></div>
    </div>
</section>

<br />