title = "Welcome to Employee Portal"
url = "/"
layout = "default"

[ReceptionRegistration]

==

==
<section class="home-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% component 'ReceptionRegistration' %}
            </div>
        </div>
    </div>
</section>