title = "Welcome to Employee Portal"
url = "/welcome"
layout = "default"

[BolReceptionWelcome]

==

==
<section class="home-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% component 'BolReceptionWelcome' %}
            </div>
        </div>
    </div>
</section>