<!-- Drop down -->
<div class="form-group dropdown-field span-left">
    <label>Select Project Name</label>
    <select class="form-control custom-select" name="project_name"> 
        <option selected="selected" value="">All Projects</option>
        <?php foreach($options as $key => $val): ?>
        	<option value="<?php echo $key ?>"><?php echo $val ?></option>
        <?php endforeach; ?>
    </select>
</div>

<div class="form-group text-field span-left">
    <label></label>
    <input type="text" name="datefilter" class="form-control date_range" value="" placeholder="Date Range" required readonly/>
</div>

<div class="form-group text-field span-left">
    <button class="btn btn-primary submit" type="submit" style="margin-top: 21px;">Search</button>
</div>
<div class="loading-indicator-container loading-show" style="clear:both;display:none">
        <div class="loading-indicator">
            <span></span>
            <div>Loading...</div>
        </div>
</div>
<!-- <hr> -->
<div id="myId" style="clear:both">
    
</div>
